<style>

.titulo{

    text-shadow: 0 3px  #ff34;
}
.contenedor{ 
    
    margin: 250px auto;
    margin-left: 650px;
    }

.entrada{ 
    border: 2px solid #559;
    margin-top: 5px; 
    height: 30px;
    width: 200px;
    background-color: rgba(223, 230, 199, 0.6)
}

.btn{ 

    background-color: #77b68d;
    border: 2px solid #77b68d;
    border-radius: 10px;
    height: 40px;
    width: 60px;
    color: #fff;
    margin-left: 60px;
}
</style>
<div class="contenedor">
    <h2 class="titulo">Registro de usuarios</h2>
<form method="post" id="asesor">
    <input class="entrada" type="text" name="nombre" placeholder="ingrese su nombre" id="nombre">
    <br><br>
    <input class="entrada" type="text" name="apellido" placeholder="ingrese su apellido" id="apellido">
    <br><br>
    <input class="entrada" type="text" name="edad" placeholder="ingrese su edad" id="edad">
    <br><br>
    <input class="entrada" type="text" name="cargo" placeholder="ingrese su cargo" id="cargo">
    <br><br>
    <input class="entrada" type="text" name="sexo" placeholder="ingrese su sexo" id="sexo">
    <br><br>
    <input class="entrada" type="text" name="cedula" placeholder="ingrese su cedula" id="cedula">
    <br><br>
    <input type="submit" value="login" class="btn">
</form>
</div>

<div>
    <img src="" alt="">
</div>


<script type="text/javascript">

const formLogin = document.querySelector('#asesor')
const formData = new FormData(formLogin)

formLogin.addEventListener('submit',event => {
    event.preventDefault();
    fetch('/', async {
        method: 'POST',
        body: formData
    })
    .then(res => res.json())
    .then(data => await console.log(data))
})
</script>