<style>

.titulo{

    text-shadow: 0 3px  #ff34;
}
.contenedor{ 
    
    margin: 250px auto;
    margin-left: 650px;
    }

.entrada{ 
    border: 2px solid #559;
    margin-top: 5px; 
    height: 30px;
    width: 200px;
    background-color: rgba(223, 230, 199, 0.6)
}

.entrada:hover{background-color: rgb(28, 22, 15) ; color: #fff; border-bottom: 2px solid #0fbf4d}
.btn:hover{ color:aquamarine; background-color: rgb(29, 34, 32);}


.btn{ 

    background-color: #77b68d;
    border: 2px solid #77b68d;
    border-radius: 10px;
    height: 40px;
    width: 60px;
    color: #fff;
    margin-left: 60px;
}
</style>
<div class="contenedor">
    <h2 class="titulo">registro de usuarios</h2>
<form method="post" id="login">
    <input type="email" name="email" placeholder="ingrese un email" class="entrada">
    <br><br>
    <input type="password" name="password" placeholder="ingrese una contraseña" class="entrada">
    <br><br>
    <input type="submit" value="login" class="btn">
</form>
</div>


<script type="text/javascript">

const formLogin = document.querySelector('#login')
const formData = new FormData(formLogin)

formLogin.addEventListener('submit',event => {
    event.preventDefault();
    fetch('/', async {
        method: 'POST',
        body: formData
    })
    .then(res => res.json())
    .then(data => await console.log(data))
})
</script>